
<div class="container p-0 relative flex items-start justify-between grid grid-cols-4 md:grid-cols-5 gap-1">
    <div class="card col-span-4 sm:col-span-2 md:col-span-1 bg-gray-100">
        <img class="card-img-top object-cover h-40" src="../assets/img/rdv.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-2xl">Rendez-vous</h5>
          <p class="card-text py-2">Nous vous remondons des que possible.</p>
          <a routerLink="/rendezvous" class="btn btn-primary">Prendre rendez-vous</a>
        </div>
    </div>
    <div class="card col-span-4 sm:col-span-2 md:col-span-1 bg-gray-100">
        <img class="card-img-top object-cover h-40" src="../assets/img/cert.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-2xl">Certificat Scolarité</h5>
          <p class="card-text py-2">Nous vous remondons des que possible.</p>
          <a routerLink="/certificascolarite" class="btn btn-primary">Prendre rendez-vous</a>
        </div>
    </div>
    <div class="card col-span-4 sm:col-span-2 md:col-span-1 bg-gray-100">
        <img class="card-img-top object-cover h-40" src="../assets/img/puz.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-2xl">Absence</h5>
          <p class="card-text py-2">Nous vous remondons des que possible.</p>
          <a routerLink="/absence" class="btn btn-primary">Prendre rendez-vous</a>
        </div>
    </div>
    <div class="card col-span-4 sm:col-span-2 md:col-span-1 bg-gray-100">
        <img class="card-img-top object-cover h-40" src="../assets/img/time.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-2xl">Retard</h5>
          <p class="card-text py-2">Nous vous remondons des que possible.</p>
          <a routerLink="/retard" class="btn btn-primary">Prendre rendez-vous</a>
        </div>
    </div>
    <div class="card col-span-4 sm:col-span-2 md:col-span-1 bg-gray-100">
        <img class="card-img-top object-cover h-40" src="../assets/img/medi.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-2xl">Médicament</h5>
          <p class="card-text py-2">Nous vous remondons des que possible.</p>
          <a routerLink="/medicament" class="btn btn-primary">Prendre rendez-vous</a>
        </div>
    </div>

</div>
