<div class="container" *ngIf="this.helpS.ME?.type=='D'">
    <div class="mb-3">
        <h1 class="text-3xl">
            Statistiques système
        </h1>
        <hr/>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-2">
        <div class="bg-green-200 hover:bg-green-300 cursor-pointer text-dark rounded col-span-1 Myshadow p-3 flex items-center justify-between">
            <div>
                <h1 class="text-3xl">
                    127878675
                </h1>
                <label>
                    Total Publications
                </label><br/>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="transform: rotate(360deg);"><path d="M19.5 3.5L18 2l-1.5 1.5L15 2l-1.5 1.5L12 2l-1.5 1.5L9 2L7.5 3.5L6 2v14H3v3c0 1.66 1.34 3 3 3h12c1.66 0 3-1.34 3-3V2l-1.5 1.5zM15 20H6c-.55 0-1-.45-1-1v-1h10v2zm4-1c0 .55-.45 1-1 1s-1-.45-1-1v-3H8V5h11v14z" fill="currentColor"></path><path d="M9 7h6v2H9zm0 3h6v2H9zm7-3h2v2h-2zm0 3h2v2h-2z" fill="currentColor"></path></svg>
            </div>
        </div>

        <div class="bg-blue-200 hover:bg-blue-300 cursor-pointer text-dark rounded col-span-1 Myshadow p-3 flex items-center justify-between">
            <div>
                <h1 class="text-3xl">
                    255785785
                </h1>
                <label>
                    Total Messages
                </label>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="transform: rotate(360deg);"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5l8-5v10zm-8-7L4 6h16l-8 5z" fill="currentColor"></path></svg>
            </div>
        </div>

        <div class="bg-gray-200 hover:bg-gray-300 cursor-pointer text-dark rounded col-span-1 Myshadow p-3 flex items-center justify-between">
            <div>
                <h1 class="text-3xl">
                    2556786
                </h1>
                <label>
                    Total Services
                </label>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="transform: rotate(360deg);"><path d="M12 1a9 9 0 0 0-9 9v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h4v1h-7v2h6c1.66 0 3-1.34 3-3V10a9 9 0 0 0-9-9z" fill="currentColor"></path></svg>
            </div>
        </div>

        <div class="bg-red-200 hover:bg-red-300 cursor-pointer text-dark rounded col-span-1 Myshadow p-3 flex items-center justify-between">
            <div>
                <h1 class="text-3xl">
                    2578977
                </h1>
                <label>
                    Total Chats
                </label>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="transform: rotate(360deg);"><path opacity=".3" d="M15 11V4H4v8.17L5.17 11H6z" fill="currentColor"></path><path d="M16 13c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10zm-12-.83V4h11v7H5.17L4 12.17zM22 7c0-.55-.45-1-1-1h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7z" fill="currentColor"></path></svg>
            </div>
        </div>

    </div>

    <div class="mt-2 conteiner p-0 grid grid-cols-1 md:grid-cols-3 gap-2">
        <div class="col-span-1 md:col-span-2 Myshadow rounded p-3">
            <div>
                <div id="chart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [labels]="chartOptions.labels"
                      [responsive]="chartOptions.responsive"
                    ></apx-chart>
                  </div>
            </div>
        </div>
        <div class="col-span-1 Myshadow rounded">
            <div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                      </div>
                      <p class="mb-1">Some placeholder content in a paragraph.</p>
                      <small>And some small print.</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Some placeholder content in a paragraph.</p>
                      <small class="text-muted">And some muted small print.</small>
                    </div>
                    <div class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Some placeholder content in a paragraph.</p>
                      <small class="text-muted">And some muted small print.</small>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>