.arClas {
    font-family: 'Almarai', sans-serif;
    text-align: right;
    font-size: 14px;
}


.card-columns {
    @media (max-width: 1024px) {
      column-count: 2;
    }
    @media (max-width: 720px) {
      column-count: 1;
    }

  }

.pub_width {
  width:50vw;
  @media only screen and (max-width: 1200px) {
    width:60vw;
  }
  @media only screen and (max-width: 1024px) {
    width:70vw;
  }
  @media only screen and (max-width: 720px) {
    width:80vw;
  }
  @media only screen and (max-width: 640px) {
    width:98vw;
  }
}  